<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<body class="sb-nav-fixed">
<th:block th:include="fragments/topBar"></th:block>
<div id="layoutSidenav">
    <th:block th:include="fragments/sideBar"></th:block>
    <div id="layoutSidenav_content">
        <div class="container-fluid px-4">
            <h1 class="mt-4">My Detail Info</h1>
            <div>
                <button id="showChangeInfoBtn" class="btn btn-info btn-icon-split" @click="showChangeMemberInfoBtn">정보 변경하기</button>
                <button id="changeInfoBtn" class="btn btn-light btn-icon-split" @click="changeMemberInfoBtn">제출</button>
            </div>

            </br>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">Name</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body" >
                    <p id="name">{{detailInfo.name}}</p>
                </div>
                <div class="card-body" v-if="changeMemberInfo">
                    <input type="text" id="changeName" v-model="changeInfo.changeName"/>
                </div>
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">NickName</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    <p id="nickName">{{detailInfo.nickName}}</p>
                </div>
                <div class="card-body" v-if="changeMemberInfo">
                    <input type="text" id="changeNickName" v-model="changeInfo.changeNickName"/>
                </div>
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Password</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    <p id="password">{{detailInfo.password}}</p>
                </div>
                <div class="card-body" v-if="changeMemberInfo">
                    <input type="text" id="changePassword" v-model="changeInfo.changePassword"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function initialState() {
        return {
            detailInfo: {
                id: '',
                name: '',
                nickName: '',
                password: ''
            }, changeMemberInfo: false
            , changeInfo: {
                id: '',
                changeName: '',
                changeNickName: '',
                changePassword: ''
            }
        }
    }

    var app = new Vue({
        el: '#layoutSidenav_content'
        , created: function() {
            this.getDetailList()
        }
        , data: function(){
            return initialState()
        }
        , methods: {
            getDetailList: async function() {
                let getDetailState = await axios.get('/api/member/myInfo')

                app.detailInfo = getDetailState.data
            }, showChangeMemberInfoBtn: function() {
                app.changeMemberInfo = !app.changeMemberInfo
            }, changeMemberInfoBtn: async function() {
                let changeInfo = app.changeInfo
                const memberInfoChangeReq = {
                    id: app.detailInfo.id,
                    name: changeInfo.changeName,
                    nickName: changeInfo.changeNickName,
                    password: changeInfo.changePassword
                }

                let changeMemberInfoState = await axios.patch('/api/member/change', memberInfoChangeReq)

                if(changeMemberInfoState.status === 200){
                    window.alert("회원정보가 정상적으로 변경되었습니다.")
                    app.getDetailList()
                }else{
                    window.alert("에러가 발생했습니다. ErrorCdoe : " + changeMemberInfoState.status)
                }
            }
        }
    })
</script>
</body>
<th:block th:include="fragments/footer"></th:block>
</html>