<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="header">
<head>
    <meta charset="UTF-8">
    <title>Whale universe</title>
    <link th:vhref="/css/styles.css" rel="stylesheet" />
    <script th:vsrc="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script th:vsrc="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script th:vsrc="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
</th:block>
</html>