<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="sideBar">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link" href="/member/detail">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        My Page
                    </a>
                    <a id="myOrderListBtn" class="nav-link" href="/board/myOrder">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        My Order List
                    </a>
                    <a id="otehrOrderListBtn" class="nav-link" href="/board/otherOrder">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Other Order List
                    </a>
                </div>
            </div>
        </nav>
    </div>
</th:block>
</html>